html {
    /* Positioning */
    position: relative;
  
    /* Box-model */
    min-height: 100%;
  }
  
  body {
    /* Positioning */
    margin-bottom: 150px;
  
    /* Typography */
    font-family: Georgia, Times, "Times New Roman", serif;
  
    /* Visual */
    background-color: #907692;
  }
  
  /* Media query for body */
  @media only screen and (max-width: 600px) {
    /* Set background color to white on small screens */
    body {
      /* Visual */
      background-color: #fff;
    }
  }
  
  /* ----DEFAULT ELEMENT STYLING END---- */
  
  /* ----NAV START---- */
  #landing {
    /* Box-model */
    height: 50px;
    padding-top: 20px;
    padding-bottom: 5px;
  
    /* Positioning */
    margin-left: 10px;
    font-family: Georgia, Times, "Times New Roman", serif;
  
    /* Typography */
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  
    /* Visual */
    background: #4f5050;
  }
  
  /* Logo hover state */
  #landing:hover {
    /* Visual */
    opacity: 0.7;
  }

  /* -----NAV END---- */

  /* ----DESCRIPTION START---- */
.description-header {
    /* Positioning */
    margin-bottom: 33px;
    font-family: Georgia, Times, "Times New Roman", serif;
  
    /* Typography */
    font-size: 32px;
    font-weight: bold;
    color: #4f5050;
  }
  
  .description-content {
    /* Box-model */
    padding: 30px;
  
    /* Positioning */
    margin-top: 32px;
  
    /* Visual */
    background-color: #fff;
  }
  
  .description-content > p {
    /* Box-model */
    padding-top: 20px;
  
    /* Typography */
    font-size: 16px;
    line-height: 30px;
    color: slategray;
  }
  
  .description-text {
    padding-bottom: 20px;
  }
  
  #description-image {
    /* Positioning */
    float: left;
  
    /* Box-model */
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-right: 20px;
  }
  
  /* Description content media query */
  @media only screen and (max-width: 600px) {
    /* override default class styling for positioning/padding */
  
    .description-content {
      /* Box-model */
      padding: 0;
  
      /* Positioning */
      margin-top: 0;
    }
  }
  
  /* ----DESCRIPTION END---- */
  
  /* ----IMAGE NAV START---- */
  #imageNav-area {
    width: 100%;
  
    /* Box-model */
    padding: 30px 30px 43px;
  
    /* Positioning */
    margin-top: 32px;
  
    /* Visual */
    background-color: #fff;
  }
  
  .imageNav-header {
    /* Positioning */
    margin-bottom: 15px;
    font-family: Georgia, Times, "Times New Roman", serif;
  
    /* Typography */
    font-size: 25px;
    font-weight: bold;
    color: #4f5050;
  }
  
  .imageNav-photo {
    width: 100px;
  
    /* Box-model */
    height: 100px;
  }
  
  .imageNav-photo:hover {
    /* Visuals */
    opacity: 0.7;
  }
  
  .imageNav-photo.active {
    /* Visuals */
    border: 2px solid #4f5050;
  }
  
  #images {
    /* Box-model */
    padding-top: 15px;
  
    /* Typography */
    text-align: center;
  }  
  /* ----IMAGE NAV END---- */

  /* ----COMPARISON START---- */
.comparison-image:hover {
    opacity: 0.7;
  }
  
  .comparison-header {
    /* Positioning */
    margin-bottom: 5px;
    font-family: Georgia, Times, "Times New Roman", serif;
  
    /* Typography */
    font-size: 20px;
    font-weight: bold;
    color: #4f5050;
    text-align: center;
  }

  img {
    max-width: 75%;
    height: auto;
  }

  @media only screen and (max-width: 600px) {
    /* override default class styling for positioning/padding */
  
    .description-content {
      /* Box-model */
      padding: 0;
  
      /* Positioning */
      margin-top: 0;
    }
  }
  
  /* ----COMPARISON END---- */